    {% load static %}
    {% block body %}

    {% if recruiter %}
        {% include 'Recruiter_navigation.html' %}
    {% elif company %}
        {% include 'Company_navigation.html' %}
    {% endif %}

    <style>
        tr { text-align: center; }

        .candidate-search {
            max-width: 460px;
            margin-bottom: 15px;
        }

        .custom-marquee {
    width: 100%;
    overflow: hidden;
    background-color: green;
    margin-top: 1%;
}

.custom-marquee span {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Monotype';
    font-size: 25px;
    color: black;
    font-weight: bold;
    padding-left: 100%;
    animation: marquee 12s linear infinite; 
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
    </style>

<!--<marquee style="
        font-family: 'Monotype';
        font-size: 25px;
        color: black;
        background-color: green;
        font-weight: bold;
        margin-top: 1%;">
    Candidate List
        </marquee>-->


<div class="custom-marquee">
    <span>Candidate List</span>
</div>
    <hr>

    <div class="container">
    <div class="candidate-search">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <input type="text"
                   id="candidateSearch"
                   class="form-control"
                   placeholder="Search by name, skills or email">
        </div>
    </div>

    <table class="table table-hover" id="example">
        <thead>
            <tr style="background-color: Yellow; color: red;">
                <th>Sr.No</th>
                <th><i class="fa fa-user mr-2"><b>FullName</b></th>
                <th><i class="fa fa-envelope mr-2"><b>Email Id</b></th>
                <th><i class="fa fa-phone-square mr-2"><b>Contact No</b></th>
                <th><i class="fa fa-list mr-2"><b>Job Title</b></th>
                <th><i class="fa fa-code mr-2"><b>Skills</b></th>
                <th><i class="fa fa-building mr-2"><b>Company</b></th>
                <th>Apply Date</th>
                <th><i class="fa fa-upload mr-2"></i><b>Resume</b></th>
            </tr>
        </thead>

        <tbody>
          <!-- {% for i in data %}
            <tr style="background-color: #f3a69a"
                data-search="{{ i.Job_seeker.User.first_name }} {{ i.Job_seeker.User.last_name }} {{ i.Job_seeker.User.username }} {{ i.job.skills }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ i.Job_seeker.User.first_name}} {{ i.Job_seeker.User.last_name}}</td>
                <td>{{ i.Job_seeker.User.username }}</td> 
                <td>{{ i.Job_seeker.mobile }}</td>
                <td>{{ i.job.job_title }}</td>
                <td>{{ i.job.skills }}</td>
                <td>
                    {% if i.job.company %}
                        {{ i.job.company.company_name }}
                    {% elif i.job.recruiter %}
                        {{ i.job.recruiter.company.company_name }}
                    {% endif %}
                </td> 
                <td>{{ i.Date }}</td>
                <td><a href="{{i.Resume.url}}">Download Resume</a></td>

                <!--<td>
                    <a href="{% url 'edit_jobdetails' i.id %}" 
                    class="btn btn-success btn-sm">Edit</a>

                    |

                    <a href="{% url 'delete_job' i.id %}" 
                    class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">No Jobs Added Yet</td>
            </tr>
            {% endfor %}-->
            {% for i in data %}
            <tr style="background-color: #f3a69a" 
            data-search="{{ i.Job_seeker.User.first_name }} 
            {{ i.Job_seeker.User.last_name }} {{ i.Job_seeker.User.username }} {{ i.job.skills }}"> 
                <td>{{ forloop.counter }}</td>
                <td>{{ i.Job_seeker.User.first_name }} {{ i.Job_seeker.User.last_name }}</td>
                <td>{{ i.Job_seeker.User.username }}</td>
                <td>{{ i.Job_seeker.mobile }}</td>
                <td>{{ i.job.job_title }}</td>
                <td>{{ i.job.skills }}</td>
                <td>{{ i.job.company.company_name }}</td>
                <td>{{ i.Date }}</td>
                <td>
                    <a href="{{ i.Resume.url }}">Download Resume</a>
                </td>
            </tr>                                                                                                                                                               
            {% empty %}
            <tr>
                <td colspan="9">No Jobs Added Yet</td>
            </tr> 
            {% endfor %}
            <tr id="noCandidateResult" style="display:none;">
                <td colspan="9">No matching candidates found</td>
            </tr>
        </tbody>
    </table>
    </div>

    <script>
        var candidateSearch = document.getElementById("candidateSearch");
        var noCandidateResult = document.getElementById("noCandidateResult");

        function filterCandidates() {
                var searchText = candidateSearch.value.toLowerCase();
                var rows = document.querySelectorAll("#example tbody tr[data-search]");
                var visibleCount = 0;

                rows.forEach(function (row) {
                    var rowText = row.getAttribute("data-search").toLowerCase();
                    var isVisible = rowText.indexOf(searchText) !== -1;

                    row.style.display = isVisible ? "" : "none";

                    if (isVisible) {
                        visibleCount++;
                    }
                });

                if (noCandidateResult) {
                    noCandidateResult.style.display = visibleCount === 0 && rows.length > 0 ? "" : "none";
                }
        }

        if (candidateSearch) {
            candidateSearch.addEventListener("input", filterCandidates);
        }
    </script>

    {% endblock %}
