{% load  static  %}

{% block body%}

{%  include 'Recruiter_navigation.html' %}

<script>
    function checkpass()
    {
        if(document.signup.pwd.value!=document.signup.cpwd.value)
        {
            alert('password Does not match');
            document.signup.cpwd.focus();    <!--to blink the mouse cursur-->
            return false;
        }
        return true;    <!--form will be submit-->
    } 
    function togglePassword()
{
    var x = document.getElementById("pwd");
    var y = document.getElementById("eyeicon1");

    if(x.type === "password")
    {
        x.type = "text";
        y.classList.remove("fa-eye");
        y.classList.add("fa-eye-slash");
    }
    else
    {
        x.type = "password";
        y.classList.remove("fa-eye-slash");
        y.classList.add("fa-eye");
    }
}

function toggleConfirmPassword()
{
    var x = document.getElementById("cpwd");
    var y = document.getElementById("eyeicon2");

    if(x.type === "password")
    {
        x.type = "text";
        y.classList.remove("fa-eye");
        y.classList.add("fa-eye-slash");
    }
    else
    {
        x.type = "password";
        y.classList.remove("fa-eye-slash");
        y.classList.add("fa-eye");
    }
}
</script>

<style>
      .custom-marquee {
    width: 100%;
    overflow: hidden;
    background-color: green;
    margin-top: 1%;
}

.custom-marquee span {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Monotype';
    font-size: 25px;
    color: black;
    font-weight: bold;
    padding-left: 100%;
    animation: marquee 12s linear infinite; 
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
</style>

<!--<marquee style="font-family : 'Monotype' ; 
    font-size : 25px ; color : black ; background-color : green ; font-weight : 
    bold ; margin-top : 1%">
        Change Password   <!--it will show the admin login under the navbar
</marquee>-->

<div class="custom-marquee">
    <span> Change password </span>
</div>


<hr>

<form class="container mt-5" method="post"  name="Changepass" onsubmit="return Checkpwd()">
    {% csrf_token %}
    <div class="form-group col-md-14">

        <label>
            <i class="fa fa-key mr-2"></i>
            <b>Current Password</b>
        </label>

        <div class="input-group">

            <input type="password"
                   class="form-control"
                   id="cpwd"
                   name="cpwd"
                   placeholder="Enter Current Password"
                   required>
        </div>
    </div>
</div>

     <div class="form-group col-md-14">

        <label>
            <i class="fa fa-key mr-2"></i>
            <b> New Password</b>
        </label>

        <div class="input-group">

            <input type="password"
                   class="form-control"
                   id="pwd"
                   name="pwd"
                   placeholder="Enter New Password"
                   required>

            <div class="input-group-append">

                <span class="input-group-text"
                      onclick="togglePassword()"
                      style="cursor:pointer;">

                    <i class="fa fa-eye" id="eyeicon1"></i>

                </span>

            </div>

        </div>

    </div>


     <div class="form-group col-md-14">

        <label>
            <i class="fa fa-unlock mr-2"></i>
            <b>Confirm New Password</b>
        </label>

        <div class="input-group">

            <input type="password"
                   class="form-control"
                   id="cpwd"
                   name="cpwd"
                   placeholder="Enter Confirm New password "
                   required>

            <div class="input-group-append">
                <span class="input-group-text"
                      onclick="toggleConfirmPassword()"
                      style="cursor:pointer;">

                    <i class="fa fa-eye" id="eyeicon2"></i>
                </span>
            </div>
        </div>
    </div>
</div>
   
   

    <input type="submit" class="btn btn-primary" style="margin-top : 2% ; color ="darkcyan" ; background-color="green" height : 40px ; font-size : 15px">
</form>

{% if error == "no"  %}
<script>
    alert("password changed  Successfully");
    window.location.href = "{% url 'Logout' %}";
</script>

{% endif %}
{% if error == "yes" %}
<script>
    alert("Something Wet Wrong, Try Again...");
</script>
{% endif %}

{% if error == "not" %}         <!--User written the old password-->
<script>
    alert("Your current password is wrong...");
</script>
{% endif %}


{% endblock %}
