{% load static %}
{% include 'Navigation.html' %}
<div class="page-header"><h1>Contact Us</h1></div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="cb-card text-center h-100">
                <i class="fa fa-phone fa-2x mb-3" style="color:#1b7a3d"></i>
                <h4>Phone</h4>
                <p class="mb-0">+91 9375812901</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="cb-card text-center h-100">
                <i class="fa fa-envelope fa-2x mb-3" style="color:#1b7a3d"></i>
                <h4>Email</h4>
                <p class="mb-0">maharshimehta2331@gmail.com</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="cb-card text-center h-100">
                <i class="fa fa-clock-o fa-2x mb-3" style="color:#1b7a3d"></i>
                <h4>Support Hours</h4>
                <p class="mb-0">9:00 AM to 10:00 PM</p>
            </div>
        </div>
    </div>
    <div class="cb-card mt-2">
        <h4>Address</h4>
        <p class="mb-0">SP RingRoad Ahmedabad</p>
    </div>
</div>
{% include 'Footer.html' %}
