{% load static %}

{% block body %}
{% include 'Navigation.html' %}

<style>
       
    .custom-marquee {
    width: 100%;
    overflow: hidden;
    background-color: green;
    margin-top: 1%;
}

    .custom-marquee span {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Monotype';
    font-size: 25px;
    color: black;
    font-weight: bold;
    padding-left: 100%;
    animation: marquee 12s linear infinite; 
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

</style>

<div class="custom-marquee">
    <span> Forgot Password  </span>
</div>

<div class="container mt-5">
 

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
             <label>
                <i class="fa fa-envelope mr-2"></i>
                <b>Email Address</b>
            </label>
            <input type="email"
                   name="email"
                   class="form-control"
                   placeholder="Enter your Email"
                   required>
        </div>

        <button type="submit"
                class="btn btn-success">
            Send OTP
        </button>
    </form>
</div>

{% if error == "notfound" %}
<script>
alert("Email Not Found");
</script>
{% endif %}
{% endblock %}
