{% load static %}

{% block body %}

{% include 'navigation.html' %}

<script>

function checkpass()
{
    if(document.signup.pwd.value != document.signup.cpwd.value)
    {
        alert('Password Does not Match');
        document.signup.cpwd.focus();
        return false;
    }

    var gender = document.signup.Gender;

    var selected = false;

    for(var i = 0; i < gender.length; i++)
    {
        if(gender[i].checked)
        {
            selected = true;
            break;
        }
    }

    if(!selected)
    {
        alert('Please Select Gender');
        return false;
    }

    return true;
}
 function togglePassword()
{
    var x = document.getElementById("pwd");
    var y = document.getElementById("eyeicon1");

    if(x.type === "password")
    {
        x.type = "text";
        y.classList.remove("fa-eye");
        y.classList.add("fa-eye-slash");
    }
    else
    {
        x.type = "password";
        y.classList.remove("fa-eye-slash");
        y.classList.add("fa-eye");
    }
}

function toggleConfirmPassword()
{
    var x = document.getElementById("cpwd");
    var y = document.getElementById("eyeicon2");

    if(x.type === "password")
    {
        x.type = "text";
        y.classList.remove("fa-eye");
        y.classList.add("fa-eye-slash");
    }
    else
    {
        x.type = "password";
        y.classList.remove("fa-eye-slash");
        y.classList.add("fa-eye");
    }
}

/* STATE -> CITY */

function updateCities()
{
    var state = document.getElementById("state").value;

    var cityDropdown = document.getElementById("city");

    cityDropdown.innerHTML = '<option value="">Select City</option>';

    var cities = {

        "Gujarat": [
            "Ahmedabad",
            "Surat",
            "Vadodara",
            "Rajkot"
        ],

        "Maharashtra": [
            "Mumbai",
            "Pune",
            "Nagpur"
        ],

        "Rajasthan": [
            "Jaipur",
            "Udaipur",
            "Jodhpur"
        ]
    };

    if(state in cities)
    {
        cities[state].forEach(function(city)
        {
            var option = document.createElement("option");

            option.value = city;

            option.text = city;

            cityDropdown.appendChild(option);
        });
    }
}

</script>

<style>

.custom-marquee {
    width: 100%;
    overflow: hidden;
    background-color: green;
    margin-top: 1%;
}

.custom-marquee span {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Monotype';
    font-size: 25px;
    color: black;
    font-weight: bold;
    padding-left: 100%;
    animation: marquee 12s linear infinite;
}

@keyframes marquee {

    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

</style>

<div class="custom-marquee">
    <span> Recruiter Signup </span>
</div>

<hr>

<form class="container mt-5"
      onsubmit="return checkpass();"
      name="signup"
      method="POST"
      action="{% url 'Recruiter_Signup_api' %}"
      enctype="multipart/form-data">

    {% csrf_token %}

    <!-- First Name Last Name -->

    <div class="form-row">

        <div class="form-group col-md-6">

            <label>
                <i class="fa fa-user mr-2"></i>
                <b>First Name</b>
            </label>

            <input type="text"
                   class="form-control"
                   name="first_name"
                   placeholder="Enter First Name"
                   required>

        </div>

        <div class="form-group col-md-6">

            <label>
                <i class="fa fa-user mr-2"></i>
                <b>Last Name</b>
            </label>

            <input type="text"
                   class="form-control"
                   name="last_name"
                   placeholder="Enter Last Name"
                   required>

        </div>

    </div>

    <!-- Contact and Company -->

    <div class="form-row">

        <div class="form-group col-md-6">

            <label>
                <i class="fa fa-phone-square mr-2"></i>
                <b>Contact Number</b>
            </label>

            <input type="text"
                   class="form-control"
                   name="contact_no"
                   placeholder="Enter Contact Number"
                   required>

        </div>

        <div class="form-group col-md-6">

            <label>
                <i class="fa fa-building mr-2"></i>
                <b>Company Name</b>
            </label>

            <input type="text"
                   class="form-control"
                   name="cname"
                   placeholder="Enter Company Name"
                   required>

        </div>

    </div>

    <!-- Email -->

    <div class="form-row">

        <div class="form-group col-md-12">

            <label><i class="fa fa-envelope mr-2"></i> <b>Email ID</b></label>
            <!--<input type="email" class="form-control" name="email" placeholder="Enter Email Address" required>-->

    <div class="input-group">

        <input type="text"
               class="form-control"
               name="Email"
               placeholder="Enter Gmail Address"
               required>

        <!--<div class="input-group-append">
            <span class="input-group-text"
                  style="background-color:#f8f9fa;font-weight:bold;">
                @gmail.com
            </span>
        </div>-->

    </div>

        </div>

    </div>

    <!-- State City -->

    <div class="form-row">

        <div class="form-group col-md-6">

            <label>
                <i class="fa fa-map mr-2"></i>
                <b>State</b>
            </label>

            <select class="form-control"
                    id="state"
                    name="state"
                    onchange="updateCities()"
                    required>

                <option value="">Select State</option>

                <option value="Gujarat">Gujarat</option>

                <option value="Maharashtra">Maharashtra</option>

                <option value="Rajasthan">Rajasthan</option>

            </select>

        </div>

        <div class="form-group col-md-6">

            <label>
                <i class="fa fa-building-o mr-2"></i>
                <b>City</b>
            </label>

            <select class="form-control"
                    id="city"
                    name="city"
                    required>

                <option value="">Select City</option>

            </select>

        </div>

    </div>

<div class="form-row">

    <!-- Password -->
    <div class="form-group col-md-6">
        <label>
            <i class="fa fa-key mr-2"></i>
            <b>Password</b>
        </label>
        <div class="input-group">

            <input type="password"
                   class="form-control"
                   id="pwd"
                   name="pwd"
                   placeholder="Enter Password"
                   required>

            <div class="input-group-append">
                <span class="input-group-text"
                      onclick="togglePassword()"
                      style="cursor:pointer;">

                    <i class="fa fa-eye" id="eyeicon1"></i>

                </span>
            </div>
        </div>
    </div>

    <!-- Confirm Password -->

    <div class="form-group col-md-6">

        <label>
            <i class="fa fa-unlock mr-2"></i>
            <b>Confirm Password</b>
        </label>

        <div class="input-group">

            <input type="password"
                   class="form-control"
                   id="cpwd"
                   name="cpwd"
                   placeholder="Enter Password Again"
                   required>

            <div class="input-group-append">
                <span class="input-group-text"
                      onclick="toggleConfirmPassword()"
                      style="cursor:pointer;">
                        <i class="fa fa-eye" id="eyeicon2"></i>
                </span>
            </div>
        </div>
    </div>

</div>

    <!-- Gender and Recruiter Image -->

    <div class="form-row">

        <div class="form-group col-md-6">

            <label>
                <b>Gender</b>
            </label>

            <br>

            <div class="custom-control custom-radio custom-control-inline">

                <input type="radio"
                       id="male"
                       name="Gender"
                       class="custom-control-input"
                       value="Male">

                <label class="custom-control-label"
                       for="male">

                    <i class="fa fa-male mr-2"></i>
                    Male

                </label>

            </div>

            <div class="custom-control custom-radio custom-control-inline">

                <input type="radio"
                       id="female"
                       name="Gender"
                       class="custom-control-input"
                       value="Female">

                <label class="custom-control-label"
                       for="female">

                    <i class="fa fa-female mr-2"></i>
                    Female

                </label>

            </div>

        </div>

        <!-- Recruiter Image -->

        <div class="form-group col-md-6">

            <label>
                <i class="fa fa-image mr-2"></i>
                <b>Recruiter Image</b>
            </label>

            <input type="file"
                   class="form-control"
                   name="recruiter_image"
                   required>

        </div>

    </div>

    <!-- Company Logo -->

    <div class="form-row">

        <div class="form-group col-md-12">

            <label>
                <i class="fa fa-picture-o mr-2"></i>
                <b>Company Logo</b>
            </label>

            <input type="file"
                   class="form-control"
                   name="clogo"
                   required>

        </div>

    </div>

    <!-- Submit Button -->

    <input type="submit"
           value="Submit"
           class="btn btn-primary">

</form>

{% if error == "no" %}

<script>

    alert("Recruiter Signup Successfully");

    window.location.href = "{% url 'Recruiter_login' %}";

</script>

{% endif %}

{% if error == "yes" %}

<script>

    alert("Something Went Wrong, Try Again...");

</script>

{% endif %}

{% if error == "exist" %}

<script>

    alert("Email already exists!");

</script>

{% endif %}

{% endblock %}
