{% load static %}

{% block body %}
{% include 'Navigation.html' %}

<style>
    .custom-marquee {
        width: 100%;
        overflow: hidden;
        background-color: green;
        margin-top: 1%;
}

    .custom-marquee span {
        display: inline-block;
        white-space: nowrap;
        font-family: 'Monotype';
        font-size: 25px;
        color: black;
        font-weight: bold;
        padding-left: 100%;
        animation: marquee 12s linear infinite; 
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
</style>

<script>
    function checkpass()
    {
        if(document.signup.pwd.value!=document.signup.cpwd.value)
        {
            alert('password Does not match');
            document.signup.cpwd.focus();    <!--to blink the mouse cursur-->
            return false;
        }
        return true;    <!--form will be submit-->
    } 
    function togglePassword()
{
    var x = document.getElementById("pwd");
    var y = document.getElementById("eyeicon1");

    if(x.type === "password")
    {
        x.type = "text";
        y.classList.remove("fa-eye");
        y.classList.add("fa-eye-slash");
    }
    else
    {
        x.type = "password";
        y.classList.remove("fa-eye-slash");
        y.classList.add("fa-eye");
    }
}

function toggleConfirmPassword()
{
    var x = document.getElementById("cpwd");
    var y = document.getElementById("eyeicon2");

    if(x.type === "password")
    {
        x.type = "text";
        y.classList.remove("fa-eye");
        y.classList.add("fa-eye-slash");
    }
    else
    {
        x.type = "password";
        y.classList.remove("fa-eye-slash");
        y.classList.add("fa-eye");
    }
}
</script>

<div class="custom-marquee">
    <span> Reset Password  </span>
</div>

<div class="container mt-5">
    <form method="POST">
        {% csrf_token %}

        <!--<div class="form-group">
            <label>
                <i class="fa fa-key mr-2"></i>
                <b> New Password</b>
            </label>

            <input type="password"
                   name="pwd"
                   id="pwd"
                   class="form-control"
                   placeholder="Enter New Password"
                   required>
        </div>
        <div class="input-group-append">

                <span class="input-group-text"
                      onclick="togglePassword()"
                      style="cursor:pointer;">

                    <i class="fa fa-eye" id="eyeicon1"></i>

                </span>

        </div>-->  
        <div class="form-group col-md-14">

        <label>
            <i class="fa fa-key mr-2"></i>
            <b> New Password</b>
        </label>

        <div class="input-group">

            <input type="password"
                   class="form-control"
                   id="pwd"
                   name="pwd"
                   placeholder="Enter New Password"
                   required>

            <div class="input-group-append">

                <span class="input-group-text"
                      onclick="togglePassword()"
                      style="cursor:pointer;">

                    <i class="fa fa-eye" id="eyeicon1"></i>

                </span>

            </div>

        </div>

    </div>

    <!-- Confirm Password -->

    <div class="form-group col-md-14">

        <label>
            <i class="fa fa-unlock mr-2"></i>
            <b>Confirm Password</b>
        </label>

        <div class="input-group">

            <input type="password"
                   class="form-control"
                   id="cpwd"
                   name="cpwd"
                   placeholder="Enter Confirm Password"
                   required>

            <div class="input-group-append">
                <span class="input-group-text"
                      onclick="toggleConfirmPassword()"
                      style="cursor:pointer;">

                    <i class="fa fa-eye" id="eyeicon2"></i>
                </span>
            </div>
        </div>
    </div>

    <input type="submit"
        value="Reset Password"
        class="btn btn-primary">
</div>

    
</form>

</div>

{% if error == "nomatch" %}
<script>
alert("Passwords Do Not Match");
</script>
{% endif %}

{% if error == "done" %}
<script>
alert("Password Changed Successfully");
window.location.href="/User_login/";
</script>
{% endif %}

{% endblock %}
