{% load  static  %}

{% block body%}

{% if company %}
    {% include 'Company_navigation.html' %}
{% elif recruiter %}
    {% include 'Recruiter_navigation.html' %}
{% endif %}

<!--<marquee style="font-family : 'Monotype' ; 
    font-size : 25px ; color : black ; background-color : green ; font-weight : 
    bold ; margin-top : 1%">
   View All Job Users  
   
   <!--it will show the admin login under the navbar
</marquee>-->


<style>
 .custom-marquee {
    width: 100%;
    overflow: hidden;
    background-color: green;
    margin-top: 1%;
}

.custom-marquee span {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Monotype';
    font-size: 25px;
    color: black;
    font-weight: bold;
    padding-left: 100%;
    animation: marquee 12s linear infinite; 
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
</style>

<div class="custom-marquee">
    <span> View All Job Users </span>
</div>

<hr>
<div class="container">
<table class="table table-hover" id="example">    <!--container will give the margin ljne from both the side-->
    <thead>
    <tr style="background-color : Yellow ; color : red ">     <!--we can give the any color-->
        <th>Sr.No</th>
        <th><i class="fa fa-user mr-2"><b>Full Name</b></th>
        <th><i class="fa fa-envelope mr-2"><b>Email Id</b></th>
        <th><i class="fa fa-phone-square mr-2"><b>Contact</b></th>
        <th>Gender</th>
        <th><i class="fa fa-image mr-2"><b>Image</b></th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for i in data %}
    <tr  style="background-color : #27db93">
        <td>{{forloop.counter}}</td>   <!--like 1,2,3,etc-->
        <td>{{i.User.first_name}}  {{i.User.last_name}}</td>
        <td>{{i.User.username}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.gender}}</td>
        <td>
            {% if i.image %}
                <img src="{{ i.image.url }}" style="width : 100px ; height : 100px ; border-radius : 50%">
            {% else %}
                No Image
            {% endif %}
        </td> 
        <!--<td>{{forloop.counter}}</td>-->
        <td>
          <a href="{% url 'delete_Recruiter' i.id %}"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure you want to delete?')">
                Delete
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6"
            style="text-align:center;
               color:red;
               font-size:22px;
               font-weight:bold;">
            Data Not Found
        </td>
    </tr>
     {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
